{:paths ["src"]
 :deps
 {org.clojure/clojure   {:mvn/version "RELEASE"}
  seancorfield/clj-new  {:git/url "https://github.com/seancorfield/clj-new"
                         :sha "f6fcc24bfa5d77167ff826990cd2c9c65eed4fed"}}}
