{:paths
 ["src" "test" "resources" "target"]

 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.773"}

  com.bhauman/figwheel-main {:mvn/version "0.2.11"}

  reagent/reagent           {:mvn/version "0.10.0"}}

 :aliases
 {:dev  {:main-opts ["--main"  "figwheel.main"
                     "--build" "dev"
                     "--repl"]}

  :prod {:main-opts ["--main"          "figwheel.main"
                     "--optimizations" "advanced"
                     "--build-once"    "prod"]}}}
